<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">
    <resultMap id="UserMap" type="com.example.demo.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="getUserCount" resultType="java.lang.Integer">
        select count(1) from user;
    </select>

    <select id="getUser" resultMap="UserMap">
        select * from user
        where id = #{id};
    </select>

    <select id="getUsers" resultType="com.example.demo.entity.User">
        select * from user;
    </select>
</mapper>